<div class="login_container" ng-controller="LoginCtrl">
	<form class="form-group-sm" ng-submit="login()">
		<img src="assets/images/cms-logo.png">
	  <div class="form-group col-md-12">
	    <input type="text" class="form-control" ng-model="account.username" placeholder="Your Username">
	  </div>
	  <div class="form-group col-md-12">
	    <input type="password" class="form-control" ng-model="account.password" placeholder="Your Password">
	  </div>
	  <div class="col-xs-12">
	  	<button type="submit" class="btn btn-success width-100">Login</button>
	  </div>
	  	
	</form>
</div>